
<template name="home">

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Remember Note</h1>
                        <h3>Where Your Notes Live On</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Always Remember your Life and Motivational Quotes!</h2>
                    <p class="lead">How many times have you come across a motivational quote that you absolutely loved and told yourself you would never forget? After all of this time and so many quotes, have you remembered all of these inspirational quotes?</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/lifeQuote.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Great for Note Taking!</h2>
                    <p class="lead">How many meetings, lunch-n-learns, and conferences have you attended to learn something new? At these meetings you probably took notes so you could learn this material and remember it forever; but how often did you return back to these notes to re-learn this material - never?</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How it Works</h2>
                    <p class="lead">As you hear a life or motivational quote that you love, enter it into Remember Note. During your next meeting, enter your notes directly into Remember Note during the event. Remember Note will then pick at random a quote or note that you have entered and email it to you once a day so you can remember these quotes and notes forever!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/loveNotes_circle.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-10">
                    <h2>Remember Note - Where Your Notes Live On</h2>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


</template>