// Header PAGE

.navbar {
  margin-bottom: 0px;
  background: #1475b9;
  border: none;
  border-radius: 0px;
  color: #fff;
  font-size: 18px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  }

.navbar-default .navbar-brand .navbar-header .navbar-collapse .navbar-custom {
  color: #fff;
}

.navbar-nav > li > a {
  line-height: 1.5;
}

