
// NOTES PAGE

body, html {
    height: 100%;
    width: 100%;
  }

.notes {
  //background: #f8f8f8;//#5CAEFF;
  color: #fff;

  body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .get {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .big-line {
    line-height: 130px;
  }

  tr:hover {
    color: #000;
    background: #fff;
  }

  .text-black {
    color: #000;
  }

}