


<body>

	{{> noteBody}}

</body>

<template name="noteBody">
		<div id="content" style="background-color:#EEEEEE;height:400px;width:1200px;float:left;">
			<div>
			Folder:
  		{{> showFoldersSelector}}
  		Section:
  		{{> getSectionOptions}}
  	</div>
  	<div>
  		<br><br>
  		{{> newNote}}
  	</div>
  	<div>
  		<br><br>
  		<table border="1">
  			<tr>
  				<th>Delete</th>
  				<th>Folder</th>
  				<th>Section</th>
  				<th>Note</th>
  			</tr>
				{{> showNotes}}
			</table>
		</div>
</template>

<template name="newNote">
	Folder: <input type="text" id="addFolder" size="40"><br>
	Section: <input type="text" id="addSection" size="40"><br>
	Note: <input type="text" id="addNote" size="100"><br>
	<input type="button" class="addItem" value="Add Note">
</template>

<template name="showNotes">
		{{#each eachNote}}
			{{> noteList}}
    {{/each}}
</template>

<template name="noteList">
	<tr>
		<td><button type="button">X</button></td>
		<td>{{folder}}</td>
		<td>{{section}}</td>
		<td>{{note}}</td>
	</tr>
</template>

<template name="showFoldersSelector">
	<select id="selectFolder" class="selectFolder">
				<option value="folderAll" selected="selected">All</option>
				{{#each eachFolder}}
					{{> folderListSelector}}
    		{{/each}}
  </select>
</template>

<template name="folderListSelector">
	<option value="{{folderName}}">{{folderName}}</option>
</template>


<template name="getSectionOptions">
	<select id="selectSection" class="selectSection" value="All">
		<option value="sectionAll" selected="selected">All</option>
		{{#each eachSection}}
			{{> sectionListSelector}}
    {{/each}}
	</select>
 </template>

<template name="sectionListSelector">
	<option value="{{sectionName}}">{{sectionName}}</option>
</template>

