

<template name="notes">
  <div class="container notes">
    <div class="row">
      <div class="col-md-12">
      	{{forFirstUserCreateEmailDBEntry}}
				{{> noteBody}}
			</div>
		</div>
	</div>
</template>

<template name="noteBody">
	<div id="content">
		<div class="text-center text-black">
			<br>
			Folder:
  		{{> showFoldersSelector}}
  		Section:
  		{{> getSectionOptions}}
  		<br>
		</div>
  	<div class="text-center text-black">
  		<br>
  		Email: {{> emailRadioButtons}}
		</div>
  	<div class="text-black">
  		<br>
  		{{> newNote}}
  	</div>
  	<div>
  		<br><br>
  		<table class="table">
  			<tr>
  				<th>Delete</th>
  				<th>Email</th>
  				<th>Folder</th>
  				<th>Section</th>
  				<th>Note</th>
  			</tr>
				{{> showNotes}}
			</table>
		</div>
	</div>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48383569-1', 'remembernote.com');
  ga('send', 'pageview');

	</script>

</template>

<template name="newNote">
	<form role="form">
	  <div class="form-group">
	    <label for="folder">Folder Name</label>
	    <input type="text" class="form-control" id="addFolder" placeholder="Enter Folder">
	  </div>
	  <div class="form-group">
	    <label for="section">Section Name</label>
	    <input type="text" class="form-control" id="addSection" placeholder="Enter Section">
	  </div>
	  <div class="form-group">
	    <label for="Note">Note</label>
	    <textarea class="form-control" id="addNote" placeholder="Enter Note" rows="3"></textarea>
	  </div>
	  <input type="button" class="addItem" value="Add Note">
	</form>
</template>

<template name="showNotes">
		{{#each eachNote}}
			{{> noteList}}
    {{/each}}
</template>

<template name="noteList">
	<tr>
		<td><input type="button" id="{{_id}}" class="deleteItem" value="X"></td>
		<td><input type="checkbox" class="emailItem" value="{{_id}}" {{email}}></td>
		<td>{{folder}}</td>
		<td>{{section}}</td>
		<td>{{note}}</td>
	</tr>
</template>

<template name="showFoldersSelector">
	<select id="selectFolder" class="selectFolder">
		<option value="folderAll" selected="selected">All</option>
		{{#each eachFolder}}
			{{> folderListSelector}}
		{{/each}}
  </select>
</template>

<template name="folderListSelector">
	<option value="{{folderName}}">{{folderName}}</option>
</template>

<template name="getSectionOptions">
	<select id="selectSection" class="selectSection">
		<option value="sectionAll" selected>All</option>
		{{#each eachSection}}
			{{> sectionListSelector}}
    {{/each}}
	</select>
 </template>

<template name="sectionListSelector">
	<option value="{{sectionName}}">{{sectionName}}</option>
</template>

<template name="emailRadioButtons">
	<form>
		<input type="radio" class="radioEmailYes" id="yes" value="yes" {{emailUserYes}}>Yes
		<input type="radio" class="radioEmailNo" id="no" value="no" {{emailUserNo}}>No
	</form>
</template>


