<template name="footer">
      <div class="row footerBackground">
      	<div class="col-lg-1"></div>
          <div class="col-lg-11">
          	<br>
              <ul class="list-inline white-text">
                  <li class="white-text"><a href="/">Home</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li><a href="/notes">My Notes</a></li>
                  <li class="footer-menu-divider">&sdot;</li>
                	{{#if currentUser}}
	  								<li><a href="/sign-out">Sign Out</a>
	  							{{else}}
                    <li><a href="/sign-in">Sign In</a>
                    	<li class="footer-menu-divider">&sdot;</li>
                    </li>
                    <li><a href="/sign-up">Sign Up</a>
                    </li>
                  {{/if}}
              </ul>
              <p class="copyright text-muted small">Created by Kevin Niemiller - Cincinnati, OH</p><br>
          </div>
      </div>
</template>